@model ZatvoreniLokacijaViewModel  

@{
    ViewData["Title"] = "Create";
}

<h1>Kreiranje</h1>

<h4>Migrantski centar zatvorenog tipa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="zatvoreniTip.naziv" class="control-label"></label>
                <input asp-for="zatvoreniTip.naziv" class="form-control" />
                <span asp-validation-for="zatvoreniTip.naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="zatvoreniTip.kapacitet" class="control-label"></label>
                <input asp-for="zatvoreniTip.kapacitet" class="form-control" />
                <span asp-validation-for="zatvoreniTip.kapacitet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="zatvoreniTip.standardniPeriodZadrzavanjaMigranta" class="control-label"></label>
                <input asp-for="zatvoreniTip.standardniPeriodZadrzavanjaMigranta" class="form-control" />
                <span asp-validation-for="zatvoreniTip.standardniPeriodZadrzavanjaMigranta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lokacija.x" class="control-label"></label>
                <input asp-for="lokacija.x" class="form-control" />
                <span asp-validation-for="lokacija.x" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lokacija.y" class="control-label"></label>
                <input asp-for="lokacija.y" class="form-control" />
                <span asp-validation-for="lokacija.y" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Kreiraj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
